.card {
    opacity: 0.7;
    
}

.card-title {
    color: white;
}
.card-text{
    color : white;

}
.card_img_top{

}
.card-body {
    background-color: #000f;
}

body {
    background-color: gray;
}

.stock{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10em;
}